<div id="postId_{post_id}" class="postWrapper">
    <div id="postHeaderId_{post_id}" class="postHeader">
        <!--<div class="postHeaderLeftColumn">{CATEGORY}</div>-->
    </div>
    <div id="postContentId_{post_id}" class="postContentWrapper">
        <img src="{image_file_name}" style="float: right;">
        <div class="postHeaderLeftColumn">Дополнительная характеристика:<br/>{NAME}: {DESCR}</div>
        <div class="postHeaderRightColumn"></div>
    </div>
    <div id="postFooterId_{post_id}" class="postFooter">
        <div class="postFooterLeftColumn">{bottom_text}</div>
        <div class="postFooterRightColumn">
            <!--<span>Отредактирован: {mtime}.</span>-->
        </div>
    </div>
</div>